{% extends 'base.html' %}
{% block content %}

        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="home_left_img">
								<img src="static/img/banner/myimageresized.jpg" alt="">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="banner_content">
								<h5>This is me</h5>
								<h2>Travor James</h2>
								<p>You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</p>
								<a class="banner_btn" href="{% url 'projects' %}">See My Projects</a>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
      <!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6">
                <div class="welcome_text">
                    <h4>About Myself</h4>
                    <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="tools_expert">
                    <h3>Tools Expertness</h3>
                    {% if skills %}
                    {% for item in skills %}
                    <div class="skill_main">
                        <div class="skill_item">
                            <h4>{{ item.name }} <span class="counter">{{ item.percent }}</span>%</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ item.percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>Nothing to show!</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</section>
<!--================End Welcome Area =================-->
        
        <!--================Projects Area =================-->
        <section class="projects_area p_120">
        	<div class="container">
        		<div class="main_title">
					<h2>Our Recent Completed Projects</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                </div>
                {% if projects %}
                {% for item in projects %}
				<div class="projects_inner row">
					<div class="col-lg-4 col-sm-6 brand web">
						<div class="projects_item">
							<img class="img-fluid" src="{{ item.image.url }}" alt="">
							<div class="projects_text">
								<a href="portfolio-details.html"><h4>{{ item.title }}</h4></a>
								<p>{{ item.desc }}</p>
							</div>
						</div>
				</div>
            </div>

            {% endfor %}

            {% else %}
            <p>Nothing to show</p>

            {% endif %}
            </div>
        </section>
        <!--================End Projects Area =================-->

{% endblock %}