{% extends 'base.html' %}
{% block content %}

        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="home_left_img">
								<img src="static/img/banner/myimageresized.jpg" alt="">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="banner_content">
								<h5>Hey!</h5>
								<h2>It's Parvez</h2>
								<p>A Machine Learning Geek who loves to play around data.</p>
								<a class="banner_btn" href="{% url 'projects' %}">See My Projects</a>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
      <!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6">
                <div class="welcome_text">
                    <h4>About Myself</h4>
                    <p>I love to introduce myself as a learner. As Aristotle said "You are what you do repeatedly". Like the saying I always evolve to be the master of things I love doing most.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="tools_expert">
                    <h3>Tools Expertness</h3>
                    {% if skills %}
                    {% for item in skills %}
                    <div class="skill_main">
                        <div class="skill_item">
                            <h4>{{ item.name }} <span class="counter">{{ item.percent }}</span>%</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ item.percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>Nothing to show!</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</section>
<!--================End Welcome Area =================-->
        
        <!--================Projects Area =================-->
        <section class="projects_area p_120">
        	<div class="container">
        		<div class="main_title">
					<h2>MY Recent Completed Projects</h2>
                    <p>The database kept down sometimes. If you can not see the projects, please go to my <a href="https://github.com/Parvez2017"><strong>github</strong></a>page. All projects are available there. Sorry for inconvenience</p>
                </div>
                {% if projects %}
                {% for item in projects %}
				<div class="projects_inner row">
					<div class="col-lg-4 col-sm-6 brand web">
						<div class="projects_item">
							<img class="img-fluid" src="{{ item.image.url }}" alt="">
							<div class="projects_text">
								<a href="{% url 'project' item.id %}"><h4>{{ item.title }}</h4></a>
								<p>{{ item.desc }}</p>
							</div>
						</div>
				</div>
            </div>

            {% endfor %}

            {% else %}
            <p>Nothing to show</p>

            {% endif %}
            </div>
        </section>
        <!--================End Projects Area =================-->

{% endblock %}