{% extends 'base.html' %}

{% block content %}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Portfolio</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="portfolio.html">Portfolio</a>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Projects Area =================-->
<section class="projects_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Our Recent Completed Projects</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        </div>
        <div class="projects_inner row">
            <div class="col-lg-4 col-sm-6 brand web">
                <div class="projects_item">
                    <img class="img-fluid" src="img/projects/projects-1.jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html"><h4>3D Helmet Design</h4></a>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 brand work">
                <div class="projects_item">
                    <img class="img-fluid" src="img/projects/projects-2.jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html"><h4>3D Helmet Design</h4></a>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 work">
                <div class="projects_item">
                    <img class="img-fluid" src="img/projects/projects-3.jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html"><h4>3D Helmet Design</h4></a>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 brand web">
                <div class="projects_item">
                    <img class="img-fluid" src="img/projects/projects-4.jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html"><h4>3D Helmet Design</h4></a>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 brand work">
                <div class="projects_item">
                    <img class="img-fluid" src="img/projects/projects-5.jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html"><h4>3D Helmet Design</h4></a>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 brand work web">
                <div class="projects_item">
                    <img class="img-fluid" src="img/projects/projects-6.jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html"><h4>3D Helmet Design</h4></a>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Projects Area =================-->
{% endblock %}