{% extends 'base.html' %}

{% block content %}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Projects</h2>
                <div class="page_link">
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'projects' %}">Projects</a>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Projects Area =================-->
<section class="projects_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>MY Recent Completed Projects</h2>
            <p>The database kept down sometimes. If you can not see the projects, please go to my <a href="https://github.com/Parvez2017"><strong>github</strong></a> page. All projects are available there. Sorry for inconvenience.</p>
        </div>
        {% if projects %}
        {% for item in projects %}
        <div class="projects_inner row">
            <div class="col-lg-4 col-sm-6 brand web">
                <div class="projects_item">
                    <img class="img-fluid" src="{{ item.image.url }}" alt="">
                    <div class="projects_text">
                        <a href="{% url 'project' item.id %}"><h4>{{ item.title }}</h4></a>
                        <p>{{ item.desc }}</p>
                    </div>
                </div>
        </div>
    </div>

    {% endfor %}

    {% else %}
    <p>Nothing to show</p>

    {% endif %}
    </div>
</section>
<!--================End Projects Area =================-->
{% endblock %}